<!--
    ____   ____.___    _________       _____  __                                 
\   \ /   /|   |  /   _____/ _____/ ____\/  |___  _  _______ _______   ____  
 \   Y   / |   |  \_____  \ /  _ \   __\\   __\ \/ \/ /\__  \\_  __ \_/ __ \ 
  \     /  |   |  /        (  <_> )  |   |  |  \     /  / __ \|  | \/\  ___/ 
   \___/   |___| /_______  /\____/|__|   |__|   \/\_/  (____  /__|    \___  >
                         \/                                 \/            \/ 
                         
    © 2023-2026 VI Software and contributors.
    Portions © 2017-2026 Daniel D. Scalzi. Licensed under the MIT License.

    License: GNU Affero General Public License v3.0 (AGPL-3.0)
    https://www.gnu.org/licenses/agpl-3.0.en.html

    This program is distributed in the hope that it will be useful, but WITHOUT 
    ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
    FITNESS FOR A PARTICULAR PURPOSE. See the license for more details.

    GitHub:  https://github.com/VI-Software
    Website: https://visoftware.dev
-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-In6B8teKZQll5heMl9bS7CESTbGvuAt3VVV86BUQBDk='"/>
    <% if (isCanary) { %>
    <title><%= lang('app.title_canary') %></title>
    <% } else if (isNightly) { %>
    <title><%= lang('app.title_nightly') %></title>
    <% } else { %>
    <title><%= lang('app.title') %></title>
    <% } %>
    <script src="./assets/js/scripts/uicore.js"></script>
    <script src="./assets/js/scripts/uibinder.js"></script>
    <script src="./assets/js/scripts/modstore.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <link type="text/css" rel="stylesheet" href="./assets/css/snowflakes.css">
    <style>
        body {
            background-color: #1a1a2e;
            background-image: url('assets/images/backgrounds/0.jpg');
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            transition: background-image 1.5s cubic-bezier(0.4, 0, 0.2, 1);
            user-select: none;
            -webkit-user-select: none;
        }
        body.loaded {
            background-image: url('assets/images/backgrounds/<%=bkid%>.jpg');
        }
        #main {
            display: none;
            height: calc(100% - 22px);
            background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
            width: 100%;
            position: absolute;
            z-index: 10;
        }
        #main[overlay] {
            filter: blur(3px) contrast(0.9) brightness(1.0);
        }
    </style>
</head>
<body bkid="<%=bkid%>">
    <%- include('frame') %>
    <div id="main">
        <%- include('welcome') %>
        <%- include('login') %>
        <%- include('waiting') %>
        <%- include('loginOptions') %>
        <%- include('settings') %>
        <%- include('landing') %>
    </div>
    <%- include('overlay') %>
    <div id="loadingContainer">
    <div id="loadingContainer">
        <div class="cube">
            <div class="front" style="background-image: url('assets/images/vis-icon.png'); background-size: cover; background-position: center;"></div>
            <div class="back">VI</div>
            <div class="right">So</div>
            <div class="left">ft</div>
            <div class="top">wa</div>
            <div class="bottom">re</div>
          </div>
          <div id="loadingText"></div>
    </div>
</div>

</body>
</html>
