<!--
    ____   ____.___    _________       _____  __                                 
\   \ /   /|   |  /   _____/ _____/ ____\/  |___  _  _______ _______   ____  
 \   Y   / |   |  \_____  \ /  _ \   __\\   __\ \/ \/ /\__  \\_  __ \_/ __ \ 
  \     /  |   |  /        (  <_> )  |   |  |  \     /  / __ \|  | \/\  ___/ 
   \___/   |___| /_______  /\____/|__|   |__|   \/\_/  (____  /__|    \___  >
                         \/                                 \/            \/ 
                         
    © 2025 VI Software. All rights reserved.

    License: AGPL-3.0
    https://www.gnu.org/licenses/agpl-3.0.en.html

    GitHub: https://github.com/VI-Software
    Website: https://visoftware.dev
-->

<div id="overlayContainer" style="display: none;">
    <div id="serverSelectContent" style="display: none;">
        <span id="serverSelectHeader"><%- lang('overlay.serverSelectHeader') %></span>
        <input type="text" id="serverSearchInput" placeholder="Search servers..." class="serverSearchBox">
        <div id="serverSelectList">
            <div id="serverSelectListScrollable">
                <!-- Server listings populated here. -->
            </div>
        </div>
        <div id="serverDetailsDialog" style="display: none;">
            <div class="serverDetailsContent">
                <img id="serverDetailsIcon" class="serverDetailsIcon">
                <h2 id="serverDetailsName"></h2>
                <p id="serverDetailsDescription"></p>
                <div class="serverDetailsMeta">
                    <div class="serverDetailsItem">
                        <span class="label">Version:</span>
                        <span id="serverDetailsVersion"></span>
                    </div>
                    <div class="serverDetailsItem">
                        <span class="label">Minecraft:</span>
                        <span id="serverDetailsMinecraft"></span>
                    </div>
                    <div class="serverDetailsItem">
                        <span class="label">Address:</span>
                        <span id="serverDetailsAddress"></span>
                    </div>
                </div>
                <div class="serverDetailsActions">
                    <button id="serverDetailsConfirm" class="button-primary">Select Server</button>
                    <button id="serverDetailsCancel" class="button-secondary">Cancel</button>
                    <div class="button-group-utilities">
                        <button id="serverDetailsWebsite" class="button-utility">View on web</button>
                        <button id="serverDetailsResources" class="button-utility">Resources</button>
                    </div>
                </div>
            </div>

            <!-- Add the resources modal -->
            <div id="serverResourcesModal" style="display: none;">
                <div class="modalContent">
                    <div class="modalHeader">
                        <h3>Server Resources</h3>
                        <button class="modalClose">&times;</button>
                    </div>
                    <div class="modalBody">
                        <input type="text" id="resourceSearch" placeholder="Search resources..." class="resourceSearchBox">
                        <div class="resourceCategories">
                            <button class="resourceTab active" data-tab="required">Required</button>
                            <button class="resourceTab" data-tab="optional">Optional</button>
                            <button class="resourceTab" data-tab="libraries">Libraries</button>
                        </div>
                        <div class="resourceList">
                            <!-- Resources populated by JavaScript -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="serverSelectActions">
            <button id="serverSelectConfirm" class="overlayKeybindEnter" type="submit"><%- lang('overlay.serverSelectConfirm') %></button>
            <div id="serverSelectCancelWrapper">
                <button id="serverSelectCancel" class="overlayKeybindEsc"><%- lang('overlay.serverSelectCancel') %></button>
            </div>
        </div>
    </div>
    <div id="accountSelectContent" style="display: none;">
        <span id="accountSelectHeader"><%- lang('overlay.accountSelectHeader') %></span>
        <div id="accountSelectList">
            <div id="accountSelectListScrollable">
                <!-- Accounts populated here. -->
            </div>
        </div>
        <div id="accountSelectActions">
            <button id="accountSelectConfirm" class="overlayKeybindEnter" type="submit"><%- lang('overlay.accountSelectConfirm') %></button>
            <div id="accountSelectCancelWrapper">
                <button id="accountSelectCancel" class="overlayKeybindEsc"><%- lang('overlay.accountSelectCancel') %></button>
            </div>
        </div>
    </div>
    <div id="overlayContent">
        <span id="overlayTitle">Lorem Ipsum:<br>Finis Illud</span>
        <span id="overlayDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
        <div id="overlayActionContainer">
            <button id="overlayAcknowledge" class="overlayKeybindEnter">Conare Iterum</button>
            <div id="overlayDismissWrapper">
                <button id="overlayDismiss" style="display: none;" class="overlayKeybindEsc">Dismiss</button>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/overlay.js"></script>
</div>